<h3>Your Shopping List</h3>

<!-- Status message -->
<div id="status">
  <%= @status_msg %>
</div>

<!-- Display rows of items -->
<% @items.each do |item| %>
  <div>
    <p class="name">
      <%= item.name %>
    </p>
    <p class="quantity">
      <%= item.quantity %>
    </p>
    <p class="quantity">
      <%= item.id_of_user %>
    </p>
    <form class="button" action="/item_update" method="post">
      <input type="hidden" name="id" value="<%= item.id %>">
      <input type="submit" value="Update">
    </form>
    <form class="button" action="/item_delete_confirm" method="post">
      <input type="hidden" name="id" value="<%= item.id %>">
      <input type="submit" value="Delete">
    </form>
  </div>
<% end %>

<!-- Add an item button -->
<form class="" action="/item_add" method="post">
<input type="submit" value="Add an item">
</form>
